<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionappv3-fdeqedc2f8buhkak.polandcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3e73691a-a9da-45ec-9847-e3c96aede68b/resourceGroups/rg-functionapp-playgorund/providers/Microsoft.Web/sites/functionappv3</ResourceId>
    <PublishUrl>https://functionappv3-fdeqedc2f8buhkak.scm.polandcentral-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>